conf/
licenses/
scripts/
htdocs/media/customer/
htdocs/media/dhl/
htdocs/media/downloadable/
htdocs/media/.htaccess
htdocs/media/import/
htdocs/media/xmlconnect/
htdocs/media/catalog/product/cache/
htdocs/media/catalog/product/placeholder/default/
htdocs/var/